# package directories
node_modules
jspm_packages
venv

# Serverless directories
.serverless

# env & secrets
*.env
secrets
bot_data

# miscel
others
lambda
curl_reqs.txt
*.excalidraw
persistences

# dependencies
lambda_layers