# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# lambda layers (dependencies)
lambda_layers
lambda

# env & secrets
*.env
secrets
bot_data

# miscel
others
lambda
curl_reqs.txt